@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 17% 98%; /* #F9FAFB */
    --foreground: 222 47% 11%; /* #111827 */
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 243 75% 59%; /* #4F46E5 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 216 12% 42%; /* #6B7280 */
    --accent: 243 75% 65%; /* #7066e0 */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%; /* #EF4444 */
    --destructive-foreground: 0 0% 98%;
    --success: 142 67% 45%; /* #22C55E */
    --success-foreground: 0 0% 98%;
    --warning: 38 92% 50%; /* #F59E0B */
    --warning-foreground: 0 0% 98%;
    --info: 204 86% 53%; /* #0EA5E9 */
    --info-foreground: 0 0% 98%;
    --border: 215 20% 90%; /* #E5E7EB */
    --input: 215 20% 90%;
    --ring: 243 75% 59%;
    --radius: 0.5rem;
    --chart-1: 243 75% 59%;
    --chart-2: 142 71% 45%;
    --chart-3: 39 91% 55%;
    --chart-4: 204 85% 46%;
    --chart-5: 0 84% 60%;
  }

  .dark {
    --background: 222 47% 11%; /* #111827 */
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 243 75% 59%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 216 12% 70%;
    --accent: 243 75% 65%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --success: 142 71% 36%;
    --success-foreground: 0 0% 98%;
    --warning: 32 96% 43%;
    --warning-foreground: 0 0% 98%;
    --info: 204 98% 40%;
    --info-foreground: 0 0% 98%;
    --border: 217 33% 25%;
    --input: 217 33% 25%;
    --ring: 243 75% 59%;
    --chart-1: 243 75% 59%;
    --chart-2: 142 71% 45%;
    --chart-3: 39 91% 55%;
    --chart-4: 204 85% 46%;
    --chart-5: 0 84% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
